.container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
}

.card{
    /* border-width: 3px; */
    /* border-color: #839073; */
    margin-bottom: 30px;
    box-shadow: -10px -10px 15px #C1D9C1;
}

.card-title{
    text-align: center;
    color: #3A405A;
}

.card-subtitle{
    color: #3A405A;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.mat-fab{
    background-color: #9EC29C;
}