<div class="container">
    <div class="col-sm-4" *ngFor="let deck of decks">
        <div class="card btn" routerLink='/carousel/{{deck.deckId}}' style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{deck.title}}</h3>
                <p class="card-subtitle mb-2 ">{{deck.description}}</p>
                <p class="card-text">Flashcard
                </p>
            </div>
        </div>
    </div>
    <a class="nav-link" routerLink="/createcard">
        <button mat-fab color="accent" id="postButton"><mat-icon>add</mat-icon></button>
    </a>
</div>