<!-- <div class="topDecorator"></div> -->
<div class="container">
  <h1>Your Notes Below</h1> 
  <div><ckeditor 
    name="ckeditor" id="ckeditor"
    [(ngModel)]="ckeditorContent">
  </ckeditor></div>

  <!-- <div class="container" > -->
    <form>
        <div class="form-group">
            <label for="title">Save as:</label>
            <input 
            name="title" 
            type="text"
            #title="ngModel"
            required
            class="form-control"
            [(ngModel)]="note.title"
            [class.is-invalid]="title.invalid && title.touched"type="text" 
            class="form-control" id="title" placeholder="Title">
        </div>
        
        <div class="form-group form-btn">
            <button type="submit" (click)="saveNote()" class="niceBtn" >Submit</button>
            <button routerLink="/notes" type="reset" class="niceBtn-cancel" >Cancel</button>
        </div>
    </form>
</div>
