.container {
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    border: solid lightgrey 1px;
    display: flex;
    flex-wrap: wrap;
}

.topDecorator {
    height:48px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background: hsla(333, 69%, 97%, 1);
    background: linear-gradient(315deg, hsla(333, 69%, 97%, 1) 31%, hsla(349, 78%, 62%, 1) 96%);
    background: -moz-linear-gradient(315deg, hsla(333, 69%, 97%, 1) 31%, hsla(349, 78%, 62%, 1) 96%);
    background: -webkit-linear-gradient(315deg, hsla(333, 69%, 97%, 1) 31%, hsla(349, 78%, 62%, 1) 96%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FDF4F8", endColorstr="#EA526F", GradientType=1 );

    /* border-bottom-style: solid; */
    border-bottom-width: 2px;
    border-bottom-color: #839073;}