.container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.carousel {
    width: 800px;
    height: 500px;
    margin-bottom: 150px;
}

.carousel-inner img {
    width: 800px;
    height: 500px;
}

.carousel-control {
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-top: 27%;
    border-radius: 50%;
}

.carousel-control-prev {
    margin-left: 30px;
    /* background-color: red; */
    background: hsla(349, 78%, 62%, .4);
}

.carousel-control-next {
    margin-right: 14px;
    /* background-color: red; */
    background: rgba(96, 152, 94, 0.5);
}

/* image transition */

.fade {
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .card-active {

} */

.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}