<div class="container">

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="" data-slide-to="0" class="active"></li>
            <li data-target="" data-slide-to="1"></li>
            <li data-target="" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <app-card></app-card>
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Golde33443.jpg" alt="Golden" width="1100"
                height="500"> -->
            </div>
            <div class="carousel-item">
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Sad-pug.jpg" alt="Pug" width="1100"
                height="500"> -->
                <app-card></app-card>
            </div>
            <div class="carousel-item">
                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Cara_de_quem_caiu_do_caminh%C3%A3o..._%28cropped%29.jpg"
                alt="Basset Hound" width="1100" height="500"> -->
                <app-card></app-card>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

</div>
<router-outlet></router-outlet>