span{
    width: 500px;
}

input {
    position: relative;
    left: 33%;
    height: 50px;
    width: 250px;
    color: #3A405A;
    border-radius: 5px 10px 7px;
    border-width: 1px;
}

textarea{
    position: relative;
    left: 33%;
    height: 50px; 
    width: 250px;
    color: #3A405A;
    border-radius: 5px 10px 7px;
    border-width: 1px;
}

.button{
    position: relative;
    left: 33%;
    height: 50px; 
    width: 250px;
    
}

.card{
    width: 100%;
    align-self: center;
    box-shadow: -10px -10px 15px #C1D9C1;
    box-sizing: border-box;
    border-radius: 5px 10px 7px;
    border-width: 1px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
}

