<h2 style="text-align: center; margin-top: 80px;">Add Decks</h2>
<div class="container">
  <div *ngFor="let deck of deckList" class="card">
    <div class="card-title">
      {{deck.title}}
</div>
<div>
  {{deck.description}}
</div> 

  </div>
  <form (submit)="addDecktoList(addCard)" #addCard="ngForm">
  <div class="card">
    <div class="card-title">
          <input name="title" class="form-control" type="text" placeholder="Title" ngModel>
    </div>
    <div>
      <textarea class="form-control" name="description" type="text" placeholder="Description" 
        ngModel></textarea>
    </div>  
    <div>
    <input class="button" type="submit" value="add Card Deck">
    </div>
  </div>
</form>
</div>

