<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Display all decks-->
<h2 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">Create a Card Deck</h2>
<div class="screen">
  <div class="container" style="margin-left: 25px; margin-right: 12.5px;">
    <div *ngFor="let deck of deckList; let deckNumber = index;" class="card">
      <div class="card-title">
        <h3>{{deck.title}}</h3>
      </div>
      <div>
        {{deck.description}}
      </div>

      <!-- Select/Open Deck -->
      <button (click)="openDeck(deck.deckId!)" mat-mini-fab color="accent" id="postButton">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!-- Add deck to db -->
    <div class="card">
      <form class="needs-validated" (submit)="addDecktoDatabase(addDeck)" #addDeck="ngForm" novalidate>
        <label id="frontLabel" for="front">Title</label>
        <input name="title" class="form-control" type="text" placeholder="Enter Title" ngModel required>
        <div class="invalid-feedback">Please choose a title.</div>
        <label for="front" style="margin-top: 10px">Description</label>
        <textarea class="form-control" name="description" type="text" placeholder="Enter Description" ngModel
          required></textarea>
        <div class="invalid-feedback">Please write a Description.</div>
        <button mat-mini-fab color="accent" id="postButton">
          <mat-icon>add</mat-icon>
        </button>
      </form>
    </div>
  </div>

  <!-- Save card to db -->
  <div class="container" style="margin-right: 25px; margin-left: 12.5px;">
    <div *ngFor="let card of deckCardSet; let cardNumber = index;" class="card">
      <h3>Card #{{cardNumber + 1}}</h3>
      <div class="card-title">
        {{card.title}}
      </div>
      <div>
        {{card.description}}
      </div>
    </div>
    <div *ngIf="deckCardSet != null">
      <div class="card">
        <form class="needs-validated" (submit)="addCardtoDeck(addCard)" #addCard="ngForm" novalidate>
          <label id="frontLabel" for="front">Word</label>
          <input name="word" class="form-control" type="text" placeholder="Enter Word" ngModel required>
          <div class="invalid-feedback">Please choose a Word.</div>
          <label id="frontLabel" style="margin-top: 10px">Definition</label>
          <textarea class="form-control" name="definition" type="text" placeholder="Enter Definition" ngModel
            required></textarea>
          <div class="invalid-feedback">Please write a Definition.</div>
          <button mat-mini-fab color="accent" id="postButton">
            <mat-icon>add</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>