<h2 style="text-align: center; margin-top: 80px;">Add Notes</h2>
<form class="card">
  <div>
    <span class="card-title">
        <input type="text" placeholder="Title">
    </span>
    <span class="card-subtitle" style="margin-left: 36px;">
        <input type="text" placeholder="Subject">
    </span>
  </div>
  <div>
    <textarea name="description" type="text" placeholder="Description"></textarea>
  </div>  

  <div>
  <input class="button" type="submit" value="add Card" style="left: 51%;">
  </div>
</form>
<input class="button" type="submit" value="save Set" style="left: 75%; margin-bottom: 62px;">

