<div class="box">
    <h2>Cards</h2>
    <div class="container">
        <div class="col-sm-4" *ngFor="let deck of decks">
            <div class="card btn" routerLink='/card' style="width: 18rem;">
                <div class="card-body">
                    
                        <h3 class="card-title">{{deck.title}}</h3>
                        <hr>
                        <p class="card-subtitle mb-2 ">{{deck.description}}</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,   
                        </p>
                        <button class="circle">
                            <img src="assets/image/Group 12.png" alt="">
                        </button>
                        <!-- <a href="#" class="card-link">Card link</a> -->
                        <!-- <a href="#" class="card-link">Another link</a> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <h2>Notes</h2>
    <div class="container">
        <div class="col-sm-4" *ngFor="let deck of decks">
            <div class="card btn" routerLink='/card' style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">{{deck.title}}</h3>
                    <hr>
                    <p class="card-subtitle mb-2 ">{{deck.description}}</p>
                    <p class="card-text">Flashcard
                    </p>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
