.box{
    color: #3A405A;
}

.container{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    box-shadow: 0px 3px 6px #3a405a1e, inset 0px 3px 6px #3a405a1e;
}

.container::-webkit-scrollbar{
    width: 0px;
}

.card{
    background-color: #839073;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 30px;
    border-radius: 30px;
    height: 250px;
    width: 416px;
}

.card-body{
    background-color: #839073;
    box-shadow: 0px 3px 6px #565656, inset 0px 3px 6px #565656;
    border-radius: 30px;
}
    
.card-title{
    text-align: left;
    color: #3A405A;
    
}

hr{
    border: none;
    /* height: 20px; */
    border-bottom: 1px solid #839073;
    box-shadow: 0px 3px 6px #cbcbcb;
}
    
.card-subtitle{
    color: #3A405A;
    text-align: right;
}

.card-text{
    text-align: left;
    color: #3A405A;
}