@import url("https://use.typekit.net/tcb3opd.css");

.navbar {
    background: hsla(320, 60%, 99%, 1);
    background: linear-gradient(315deg, hsla(320, 60%, 99%, 1) 38%, hsla(229, 22%, 29%, 1) 97%);
    background: -moz-linear-gradient(315deg, hsla(320, 60%, 99%, 1) 38%, hsla(229, 22%, 29%, 1) 97%);
    background: -webkit-linear-gradient(315deg, hsla(320, 60%, 99%, 1) 38%, hsla(229, 22%, 29%, 1) 97%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FEFBFD", endColorstr="#3A405A", GradientType=1 );

    /* border-bottom-style: solid; */
    border-bottom-width: 2px;
    border-bottom-color: #839073;
}

.nav-link{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #3A405A;
}

.navbar-brand{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #839073;
}

.btn {
    border-color: #FEFBFD;
    border-width: 2px;
    color: #FEFBFD;
}
