.jumbotron{
    background-color: #FEFBFD;
    /* box-shadow: -10px 10px 20px #7CAE7A; */
    border-bottom-style: solid;
    border-bottom-color: #7CAE7A;
    margin-bottom: 50px;
    color: #3A405A;
    display: flex;
}

/* .carousel {
    width: 1000px;
    height: 590px;
} */

.carousel-inner img {
    width: 100%;
    height: 100%;
}
