<div class="jumbotron">
    <!-- <h1 class="display-4">Study Buddy!</h1>
    <h3 class="lead">Study Buddy is an interactive site that allows you to study your way!.</h3>
    <hr class="my-4">
    <p>Create a Flash Card Set or a page of Notes!</p>
    <p>You can also view the collection of Notes and Card Sets other user have created.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
            <img src="assets/image/Group 11" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="10000">
          <img src="assets/image/Group 11" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/image/Group 11" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>


  </div>