<div class="row">
    <div class="col-lg-6">
        <h2>Notes</h2>
    </div>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Set ID</th>
                <th>Title</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let set of cardSets; index as i"> -->
            <tr>
                <td>1</td>
                <td><a routerLink="#">Title</a></td>
                <td>Subject</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-lg-6 text-left">
    <a routerLink="#" class="btn btn-primary">Make new set</a>
</div>