
    <div class="row justify-content-center">
        
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h3 class="card-title">Create Card Set</h3>
                    <p class="card-subtitle mb-2 ">Card subtitle</p>
                    <p class="card-text">Creating Card Sets is quick and easy! Use our templete to begin your studying!</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h3 class="card-title">Create Notes</h3>
                    <p class="card-subtitle mb-2">Card subtitle</p>
                    <p class="card-text">Need to create easy to read and stylized notes? Our notes are eye catching and easy to memorize</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h3 class="card-title">View Card Sets</h3>
                    <p class="card-subtitle mb-2">Card subtitle</p>
                    <p class="card-text">Looking for some help? Don't know where to stary to study? Use the Card Sets that other students have created.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h3 class="card-title">View Notes</h3>
                    <p class="card-subtitle mb-2">Card subtitle</p>
                    <p class="card-text">Is it note making sense? Someones been there before. Look through our large collection of notes and get some help!</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

 