
@import url("https://use.typekit.net/tcb3opd.css");
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");


body{
    background: hsla(320, 60%, 99%, 1);
    background: linear-gradient(270deg, hsla(320, 60%, 99%, 1) 23%, hsla(231, 18%, 86%, 1) 76%);
    background: -moz-linear-gradient(270deg, hsla(320, 60%, 99%, 1) 23%, hsla(231, 18%, 86%, 1) 76%);
    background: -webkit-linear-gradient(270deg, hsla(320, 60%, 99%, 1) 23%, hsla(231, 18%, 86%, 1) 76%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#fefbfd", endColorstr="#d4d6e1", GradientType=1 );
    
    background-repeat: no-repeat;
    height: 100%;
}

h1{
    font-family: sirenia, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 95px;
}

h2{
    font-family: sirenia, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
    
}

h3{
    font-family: sirenia, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}

p{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}

a{
    color: #EA526F;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}


