<div class="container">
    <div class="col-sm-4" *ngFor="let card of cardSet">
        <div class="card btn" routerLink='/home' style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{card.title}}</h3>
                <p class="card-subtitle mb-2 ">{{card.description}}</p>
                <p class="card-text">Flashcard
                </p>
                <!-- <a href="#" class="card-link">Card link</a> -->
                <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
    </div>
</div>